# Bitcoin dataset analysis

### Loading dataset from 2017

In [3]:
import pandas as pd

bitcoin_2017 = pd.read_csv("datasets/BTC-2017min.csv")
bitcoin_2017.head()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,1514764740,2017-12-31 23:59:00,BTC/USD,13913.28,13913.28,13867.18,13880.00,0.591748,8213.456549
1,1514764680,2017-12-31 23:58:00,BTC/USD,13913.26,13953.83,13884.69,13953.77,1.398784,19518.309658
2,1514764620,2017-12-31 23:57:00,BTC/USD,13908.73,13913.26,13874.99,13913.26,0.775012,10782.944294
3,1514764560,2017-12-31 23:56:00,BTC/USD,13827.00,13908.69,13827.00,13859.58,0.666459,9236.841134
4,1514764500,2017-12-31 23:55:00,BTC/USD,13825.05,13825.05,13825.05,13825.05,0.065501,905.560130

### Column Types

In [7]:
bitcoin_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525599 entries, 0 to 525598
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   unix        525599 non-null  int64
 1   date        525599 non-null  object
 2   symbol      525599 non-null  object
 3   open        525599 non-null  float64
 4   high        525599 non-null  float64
 5   low         525599 non-null  float64
 6   close       525599 non-null  float64
 7   Volume BTC  525599 non-null  float64
 8   Volume USD  525599 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 36.1+ MB

### Describe

In [4]:
bitcoin_2017.describe()

,unix,open,high,low,close,Volume BTC,Volume USD
count,5.255990e+05,525599.000000,525599.000000,525599.000000,525599.000000,525599.000000,5.255990e+05
mean,1.498997e+09,3948.408377,3952.208189,3943.751886,3948.339307,8.939796,4.143441e+04
std,9.103650e+06,3936.757966,3942.382649,3929.589942,3936.695963,20.779163,1.173633e+05
min,1.483229e+09,752.000000,752.810000,751.340000,752.040000,0.000000,0.000000e+00
25%,1.491113e+09,1197.450000,1197.980000,1197.040000,1197.460000,0.348564,7.167660e+02
50%,1.498997e+09,2567.440000,2569.370000,2565.350000,2567.170000,2.575998,7.249086e+03
75%,1.506881e+09,4535.565000,4539.405000,4531.030000,4535.000000,9.416233,3.294400e+04
max,1.514765e+09,19665.760000,19666.000000,19649.960000,19665.750000,1616.060001,5.145939e+06